*{
    
}
body{
    margin: 0;
    padding: 0;
}
.containers{
display: flex;

}

.first{
    height: 100vh;
    width: 70vw;
 
    
    
}

.second{
    height:100vh;
    width:30vw;
    background-color: aquamarine;
}


.Sign{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 70vw;
   background-color: red;
}
.infos{
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    height: 40vh;
    width: 30vw;
    border-radius: 20px;
    background-color: #5746EA;
}
.logoo{
height:40vh;
width:15vw;

}
.pics{
    margin-top: 17px;
    height: 35vh;
    width: 8vw;
    
    margin-left:20px ;
}
.localData{
height:40vh;
width: 17vw;
padding-right: 20px;

}
.info1{
    color:white;
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 40px;
letter-spacing: 1px;
}
.info2{
    color:white;
    font-family: 'Roboto';
    font-weight: bold;
    margin-top: 8px;
    letter-spacing: 1px;
}
.info3{
    color:white;
    font-family: 'Roboto';
    font-weight:bold;
    margin-top: 8px;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 1px;
    
    
}
.texts{
    margin-left: 40px;
    margin-top: 15px;
    height: 20vh;
    width: 30vw;
    border-radius: 20px;
    
}
.timers{
   
    height: 30vh;
    width: 70vw;
    background-color: rgb(226, 171, 43);
    
}
.sp1{
    display: inline-block;
    margin-top: 10px;
    color: white;
    background-color: #9F94FF;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    padding-left: 20px;
padding-top: 5px;
border-radius: 20px;
    
}
.s{
    margin-top: 20px;
    
}
.sp2{
    
        display: inline-block;
        margin-top: 10px;
        color: white;
        background-color: #9F94FF;
        width: 80px;
        height: 30px;
        border-radius: 4px;
        padding-left: 20px;
    padding-top: 5px;
    margin-left: 20px;
    border-radius: 20px;
        
    }
    .sp3{
        display: inline-block;
        margin-top: 10px;
        color: white;
        background-color: #9F94FF;
        width: 80px;
        height: 30px;
        border-radius: 4px;
        padding-left: 20px;
    padding-top: 5px;
    border-radius: 20px;
        
    }
    .sp4{
    
        display: inline-block;
        margin-top: 10px;
        color: white;
        background-color: #9F94FF;
        width: 80px;
        height: 30px;
        border-radius: 4px;
        padding-left: 20px;
    padding-top: 5px;
    margin-left: 20px;
    border-radius: 20px;
        
    }
    .cardD{
        display: flex;
        justify-content: space-around;
        color: white;
        background-color: #FF4ADE;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height:30px;
        padding-top: 5px;
       
    }
    .cardD1{
        display: flex;
        
        height: 15vh;
        width: 30vw;
       border-bottom-left-radius: 20px;
       border-bottom-right-radius: 20px;
        background-color:   #101744;
    }
    .temp{
        color:white;
        font-size: 50px;
        font-family: 'roboto';
        margin-left: 60px;
        
    }
    .preimg{
        height:20px;
        width: 15px;
        margin-left: 20px;
        margin-top: 10px;
      
    }
    .press{
        display: flex;
        margin-left: 40px;
        color: white;
    }
    .ps{
       padding-left: 10px;
       margin-bottom: 50px;
    }
    .cloudText{
        color: white;
    }
    .cardD2{
        margin-left: 40px;
        margin-top: 10px;
    }
    .press1{
        display: flex;
        margin-left: 20px;
    }
    .ps1{
        padding-left: 10px;
        margin-top:10px ;
        color: white;
     }
     .preimg1{
        height:20px;
        width: 15px;
        margin-left: 20px;
        margin-top: 15px;
      
    }